@page "/warhammer/citations"

<main>
    <h1>Les citations</h1>
    <p>
        Que ce soit dans les livres, vidéos, jeux ou même juste des gens randoms, certaines phrases
        ou simplement des mots m'ont marqué ou bêtement fait rire. Voici une liste complète de ces
        citations!
    </p>

    <!-- Faire que les citations soient récupéré en DB -->
    <section>
        <figure>
            <blockquote>
                Ceux de l'arrière ne pouvaient pas tirer sans encombre à cause de la présence de 
                leur camarades agressifs [...] victimes de tirs accidentels dans le dos. Du moins, 
                Snaggi les supposait accidentels, puisque les zoms n'appliquaient pas la doctrine 
                ork voulant que "si tu te mets devant moi quand je tire, tu n'as que ce que tu 
                mérites".
            </blockquote>
            <figcaption><cite>Chef de Guerre</cite>, Mike Brooks</figcaption>
        </figure>
        
        <figure>
            <blockquote>
                C'est mat'matik!
            </blockquote>
            <figcaption><cite>Chef de Guerre</cite>, Mike Brooks</figcaption>
        </figure>
        
        <figure>
            <blockquote>
                Tèchenik
            </blockquote>
            <figcaption><cite>Reflet d'acide</cite></figcaption>
        </figure>
        
        <figure>
            <blockquote>
                - Par les dents d'Gork! s'emporta Mag en comprenant. Ce s'al gus! Il triche! Il 
                s'cogne pas les murs, il passe par-dessous!<br/>
                - C'est d'la triche? demanda Skrabrukk, perplexe.<br/>
                - Bien sûr qu'c'est d'la zog' de triche! rugit Mag. C'est pas des manières
                d'Ork! Nous on passe à travers les murs! Ou par-dessus, à la rigueur ça s'fait. Même
                faire le tour, ça dépend comme c'est long, mais passer dessous? C't'un skandale.
            </blockquote>
            <figcaption><cite>Chef de Guerre</cite>, Mike Brooks</figcaption>
        </figure>
        
        <figure>
            <blockquote>
                Stragédie
            </blockquote>
            <figcaption><cite>Bob Lennon</cite></figcaption>
        </figure>
    </section>
</main>