@page "/warhammer/gallery"

<main>
    <h1>Ma Galerie</h1>
    <p>
        Tous mes personnages de l’univers Warhammer, peints de mes mains… pas tout à fait innocentes
        (¬‿¬)!
    </p>
    <section>
        @foreach (var id in characters)
        {
            <a>
                <img src="@Assets[$"warhammer/characters/{id}_thumbnail.png"]"
                     loading="lazy"
                     alt="@($"{id} thumbnail")"/>
            </a>
        }
    </section>
</main>