section {
    --grid-size: 192px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-size), 1fr));
    grid-auto-rows: var(--grid-size);
    grid-auto-flow: dense;
    gap: 15px;
    transition: all 0.1s linear;

    > .item {
        --grid-size-x: 1;
        --grid-size-y: 1;
        --grid-size-x--f: 1.0;
        --grid-size-y--f: 1.0;
        display: grid;
        place-items: center;

        position: relative;
        grid-column: span var(--grid-size-x);
        grid-row: span var(--grid-size-y);
        border-radius: 5px;
        background: var(--panel-color);
        transition: all 0.1s linear;
        animation: div-in 0.1s;
        overflow: hidden;
        margin: -5px;

        > img {
            height: calc(var(--grid-size-y--f) * var(--grid-size));
            width: calc(var(--grid-size-x--f) * var(--grid-size));
            transition: all 0.1s linear;
        }
    }

    > .item:hover {
        cursor: pointer;

        > img {
            filter: brightness(1.1);
            scale: 1.05;
        }
    }
}


@media (max-width: 990px) {
    section {
        --grid-size: 128px;
    }
}

@media (max-width: 528px) {
    section {
        --grid-size: 64px;
    }
}