
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    transition: all 0.1s linear;
    
    > a {
        position: relative;
        padding: 10px;
        min-width: 60px;
        border-radius: 5px;
        background: var(--panel-color);
        transition: all 0.1s linear;
        animation: div-in 0.1s;

        h3 {
            color: var(--text-color);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }

        > img {
            max-height: 320px;
            height: 100%;
            width: 100%;
            transition: all 0.1s linear;
        }
    }

    > a:hover {
        cursor: pointer;

        > img {
            filter: brightness(1.1);
            scale: 0.95;
        }
    }
}