@page "/warhammer/gallery"
@using Microsoft.EntityFrameworkCore
@using Sinaf.Me.Data
@using Sinaf.Me.Data.Warhammer

<main>
    <h1>Ma Galerie</h1>
    <p>
        Tous mes personnages de l’univers Warhammer, peints de mes mains… pas tout à fait innocentes
        (¬‿¬)!
    </p>
    <section>
        @foreach (var c in characters)
        {
            <a class="item" href="@c.GetUrlImage()" target="_blank">
                <img
                    src="@c.GetUrlThumbnail()"
                    loading="lazy"
                    alt="@c.Name"
                    onload="setSize(this)"/>
            </a>
        }
    </section>
</main>

<script>
    function setSize(img) {
        const item = img.closest('.item');
        const gridCellSize = 192;
        const gridSizeX = img.naturalWidth / gridCellSize;
        const gridSizeY = img.naturalHeight / gridCellSize;

        item.style.setProperty('--grid-size-x--f', gridSizeX);
        item.style.setProperty('--grid-size-y--f', gridSizeY);

        item.style.setProperty('--grid-size-x', Math.max(1, Math.ceil(gridSizeX)));
        item.style.setProperty('--grid-size-y', Math.max(1, Math.ceil(gridSizeY)));
    }
</script>

@code {

    private Character[] characters = [];
	
    protected override async Task OnInitializedAsync()
    {
        await using var context = new WarhammerDbContext();
        characters = await context.Characters
                                  .OrderByDescending(x => x.Id)
                                  .Select(x => new Character
                                  {
                                      Id = x.Id,
                                      Name = x.Name,
                                      UpdatedAt = x.UpdatedAt
                                  })
                                  .ToArrayAsync();
    }

}