main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;

    > p {
        margin-bottom: 0;
    }
}

#links {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    h2 {
        font-size: 4rem;
        cursor: pointer;
        margin: 10px;
        transition: all 0.25s;

        > a:any-link {
            font-family: 'Orc Horde', sans-serif;
            color: inherit;
            text-align: center;
            text-decoration: none;
        }
    }

    h2:hover {
        scale: 1.2;
    }

    @media (max-width: 1150px) {
        flex-direction: column;
        gap: 0;
    }
}

#stats {
    margin: 20px;

    > div {
        display: flex;
        position: relative;
        margin: 20px;
        padding: 14px;
        border-radius: 5px;
        background: var(--background-color-secondary);
        gap: 20px;
        height: 200px;
        justify-content: center;

        > div:last-of-type {
            width: 100%;
            max-width: 900px;

            > .match__list {
                overflow-y: scroll;
                height: 136px;

                .match {
                    font-size: 0.8rem;
                    background: rgb(0 0 0 / 0.3);
                    margin: 5px 0;
                    padding: 5px;
                    border-radius: 5px;

                    > div {
                        display: flex;
                        width: 100%;

                        > div:last-child {
                            margin-left: auto;
                        }
                    }

                    &.win {
                        border-left: 5px solid var(--color-green-light);
                    }

                    &.lose {
                        border-left: 5px solid var(--color-red-light);
                    }

                    .match__result {
                        &.win {
                            color: var(--color-green-light);
                        }

                        &.lose {
                            color: var(--color-red-light);
                        }
                    }

                    .match__compo {
                        font-size: 0.7rem;
                        font-weight: bold;
                    }

                    .match__map {
                        font-size: 0.7rem;
                        opacity: 0.5;
                        font-style: italic;
                    }

                    .match__time {
                        font-size: 0.7rem;
                        color: #ba78f8;
                    }

                    .match__date {
                        font-size: 0.7rem;
                        margin-inline-start: auto;
                    }

                    .match__player {
                        margin: 0 5px;
                    }
                }
            }
            
            @media (max-width: 1000px) {
                display: none;
            }
        }

        > span {
            position: absolute;
            left: 50px;
            bottom: 20px;
            opacity: 0.5;
            
            @media (max-width: 1000px) {
                display: none;
            }
        }

        h4 {
            opacity: 50%;
            margin: 0;
        }

        @media (max-width: 1000px) {
            height: initial;
        }
    }
}