main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    > p {
        margin-bottom: 0;
    }
}

#dow-stats {
    background: var(--background-color-secondary);
    margin: 20px;
    
    #global-stats{
        display: flex;
        justify-content: center;
        gap: 10px;
        
        .element {
            background: rgb(0 0 0 / 0.15);
            
            
            > span:first-child {
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
            }
            
            > span:last-child {
                font-size: 0.75rem;
                opacity: 50%;
                display: block;
            }
        }
    }
}

#links {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 4rem;
        cursor: pointer;
        margin: 10px;
        transition: font-size 0.25s;

        > a:any-link {
            font-family: 'Orc Horde', sans-serif;
            color: inherit;
            text-align: center;
            text-decoration: none;
        }
    }

    h2:hover {
        font-size: 8rem;
    }
}

