main {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    > p {
        margin-bottom: 0;
    }
}

#stats {
    margin: 20px;
    
    > div {
        display: flex;
        position: relative;
        margin: 20px;
        padding: 14px;
        border-radius: 5px;
        background: var(--background-color-secondary);
        gap: 20px;
        height: 200px;
        
        > div:last-of-type {
            width: 100%;
            max-width: 900px;
            
            .match {
                font-size: 0.8rem;
                height: 92px;
            }
        }

        > span {
            position: absolute;
            left: 50px;
            bottom: 20px;
            opacity: 0.5;
        }
        
        h4 {
            opacity: 50%;
            margin: 0;
        }
    }
}

#links {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    h2 {
        font-size: 4rem;
        cursor: pointer;
        margin: 10px;
        transition: font-size 0.25s;

        > a:any-link {
            font-family: 'Orc Horde', sans-serif;
            color: inherit;
            text-align: center;
            text-decoration: none;
        }
    }

    h2:hover {
        font-size: 8rem;
    }
}

@media (max-width: 760px) {
    .dow-content,
    .dow-side {
        grid-template-columns: 1fr;
    }
}