@page "/warhammer"
<PageTitle>Warhammer</PageTitle>

<main>
    <h1>Warhammer</h1>
    <p>
        Au début de l'année 2026, j'ai commencé à découvrir le hobby qu'est Warhammer ヽ（≧□≦）ノ.
        <br/>Je vous partage alors ici, mon fanatisme pour 40k et AoS!
    </p>

    <div>
        @* <h2><a href="/warhammer/armies">Armees</a></h2> *@
        @* <h2><a href="/warhammer/battles">Batailles</a></h2> *@
        <h2><a href="/warhammer/gallery">Galerie</a></h2>
        <h2><a href="/warhammer/citations">Citations</a></h2>
    </div>
</main>