@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<header>
    <nav>
        <p>MRSINAF</p>
        <ul>
            <li class="nav-link">
                <NavLink href="/" ActiveClass="nav-link--active"
                         Match="NavLinkMatch.All">
                    Accueil
                </NavLink>
            </li>
            <li class="nav-link">
                <NavLink href="/projects" ActiveClass="nav-link--active"
                         Match="NavLinkMatch.All">
                    Projets
                </NavLink>
            </li>
            <li class="nav-link">
                <NavLink href="/warhammer" ActiveClass="nav-link--active"
                         Match="NavLinkMatch.All">
                    Warhammer
                </NavLink>
            </li>
            <li class="nav-link">
                <NavLink href="/about" ActiveClass="nav-link--active"
                         Match="NavLinkMatch.All">
                    A propos
                </NavLink>
            </li>
        </ul>
        <div>
            <a id="kofi" href="https://ko-fi.com/mrsinaf" target="_blank">
                <img src="@Assets["images/icons/kofi_icon.png"]" alt="Kofi"/>
            </a>
            <AuthorizeView>
                <Authorized>
                    <a id="admin" href="/admin">
                        <img src="@Assets["images/icons/domain_icon.png"]" alt="Admin icon"/>
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</header>

@Body

@if (!canAccess)
{
    <div id="warning-entry">
        <div>
            <h1>WARNING</h1>
            <img src="@Assets["r34/pussy.png"]" alt="a normal image"/>
            <hr/>
            <p>
                Vous entrez dans l'espace personnel d'un <span class="femboy-color">femboy</span>,
                il
                est possible que vous rencontriez du contenu… un peu spicy
                <span class="no-wrap">(*/ω＼*).</span>
            </p>
            <p>
                Le principal contenu du site n'est pas
                <span class="femboy-color">NSFW :3</span> et ce n'est pas du tout l'objectif du
                site.
            </p>

            <p>
                Mais vous devez confirmer que vous êtes majeur et acceptez d’être exposé à du
                contenu
                <span class="no-wrap">
                NS<span class="femboy-color">F</span>(<span class="femboy-color">emboy</span>)W.
            </span>
            </p>

            <button class="button" @onclick="() => canAccess = true">Entrer</button>
            <a class="button secondary" href="https://pointerpointer.com/">Quitter</a>
        </div>
    </div>
}

<footer>
    <p>&copy;@DateTime.Now.Year - MrSinaf | PurrVert - Tous droits réservés.</p>
</footer>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{

    private bool canAccess;

}