@page "/not-found"
@layout MainLayout

<main>
    <h1>Page introuvable (っ °Д °;)っ</h1>
    <p>Désolé... la page que vous cherchez n'existe pas!</p>
    <img src="@Assets["images/derpy.png"]" alt="Photo de mon chat"/>
</main>